# Supabase Variables
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Paystack API Keys
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_public_key
PAYSTACK_SECRET_KEY=your_paystack_secret_key

# Optional Message Broker Config
# RABBITMQ_DEFAULT_USER=user
# RABBITMQ_DEFAULT_PASS=password
